<div class="toolbar">
  {{#each @items as |item index|}}
    <div class="toolbar__group">
      <button type="button" class="{{if (eq index this.selection) 'active'}}" {{on "click" (fn this.select index)}}>
        {{concat @itemName " " index}}

        {{#if (gt (get item "changes.length") 0)}}
          <Icons::Edit />
        {{/if}}
      </button>
    </div>
  {{/each}}

  <div class="toolbar__group">
    <button type="button" role="button" {{on "click" this.add}}>
      Add
    </button>
  </div>

  {{#if this.item}}
    <div class="toolbar__group">
      <button type="button" {{on "click" this.remove}}>
        Remove
      </button>
    </div>
  {{/if}}
</div>

{{#if this.item}}
  <div class="toolbar-content">
    {{yield this.item}}
  </div>
{{/if}}