<form class="form" {{action "submit" on="submit"}}>
  {{#each config.fields as |field|}}
    {{#if (eq field.control "string")}}
      {{inputs/string
              label=field.label
              value=(get model field.key)
              hint=field.hint
              placeholder=field.placeholder
              redacted=field.redacted}}
    {{else if (eq field.control "string")}}
      {{inputs/text
              label=field.label
              value=(get model field.key)
              hint=field.hint
              placeholder=field.placeholder}}
    {{else if (eq field.control "boolean")}}
      {{inputs/boolean
              label=field.label
              value=(get model field.key)
              hint=field.hint}}
    {{else if (eq field.control "number")}}
      {{inputs/number
              label=field.label
              value=(get model field.key)
              hint=field.hint
              placeholder=field.placeholder
              min=field.min
              max=field.max}}
    {{else if (eq field.control "date")}}
      {{inputs/date
              label=field.label
              value=(get model field.key)
              hint=field.hint
              placeholder=field.placeholder}}
    {{else if (eq field.control "select")}}
      {{inputs/select
              label=field.label
              value=(get model field.key)
              hint=field.hint
              collection=(evaluate field.source model)}}
    {{else if (eq field.control "well")}}
      {{inputs/well
              label=field.label
              value=(get model field.key)
              hint=field.hint}}
    {{/if}}
  {{/each}}

  <div class="form__row">
    <button class="form__button" type="submit">
      {{button}}
    </button>

    {{#if deleteButton}}
      <button class="form__button" {{action "delete"}}>
        {{deleteButton}}
      </button>
    {{/if}}
  </div>

  {{#if error}}
    <div class="form__error">
      {{error}}
    </div>
  {{/if}}
</form>