<form class="form" {{on "submit" (prevent-default @onSubmit)}}>
  {{#each @config.fields as |field|}}
    {{#let (guid-for field) as |id|}}
      <div class="form__row {{if (changeset-dirty @changeset field.key) "form__row--dirty"}}">
        {{#if field.label}}
          <label class="input__label" for={{id}}>
            {{field.label}}
          </label>
        {{/if}}

        {{#if (eq field.control "string")}}
          <Inputs::String
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @placeholder={{field.placeholder}}
            @redacted={{field.redacted}}
          />
        {{else if (eq field.control "text")}}
          <Inputs::Text
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @placeholder={{field.placeholder}}
          />
        {{else if (eq field.control "boolean")}}
          <Inputs::Boolean
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
          />
        {{else if (eq field.control "number")}}
          <Inputs::Number
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @placeholder={{field.placeholder}}
            @min={{field.min}}
            @max={{field.max}}
            @step={{field.step}}
          />
        {{else if (eq field.control "date")}}
          <Inputs::Date
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @placeholder={{field.placeholder}}
          />
        {{else if (eq field.control "select")}}
          <Inputs::Select
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @options={{field.options}}
          />
        {{else if (eq field.control "reference")}}
          <Inputs::Reference
            @id={{id}}
            @value={{changeset-get @changeset field.key}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @collection={{evaluate field.source (or @changeset @model)}}
            @multiple={{field.multiple}}
            @labelKey={{field.labelKey}}
            @emptyLabel={{field.emptyLabel}}
            @allowEmpty={{field.allowEmpty}}
          />
        {{else if (eq field.control "well")}}
          <Inputs::Well @id={{id}} @value={{changeset-get @changeset field.key}} />
        {{else}}
          <Inputs::Json
            @id={{id}}
            @value={{changeset-unwrap (changeset-get @changeset field.key)}}
            @changed={{changeset-set @changeset field.key}}
            @disabled={{field.disabled}}
            @placeholder={{field.placeholder}}
          />
        {{/if}}

        {{#if field.hint}}
          <div class="input__hint">
            {{field.hint}}
          </div>
        {{/if}}
      </div>
    {{/let}}
  {{/each}}

  <div class="form__row">
    <button type="submit" class="form__button" disabled={{or @model.isSaving (and (not this.dirty))}}>
      {{#if @model.isSaving}}
        Saving...
      {{else}}
        {{#if @model.isNew}}
          Create
        {{else}}
          Update
        {{/if}}
      {{/if}}
    </button>

    {{#unless @model.isNew}}
      <button
        type="button"
        class="form__button"
        disabled={{or (not this.dirty) @model.isSaving}}
        {{on "click" this.reset}}
      >
        Reset
      </button>
    {{/unless}}

    {{#if @onCancel}}
      <button type="button" class="form__button" disabled={{@model.isSaving}} {{on "click" this.cancel}}>
        Cancel
      </button>
    {{/if}}

    {{#if @onDelete}}
      <button
        class="form__button form__button--warning"
        type="button"
        disabled={{@model.isSaving}}
        {{on "click" @onDelete}}
      >
        Delete
      </button>
    {{/if}}
  </div>
</form>