<form class="form" {{on "submit" (prevent-default @onSubmit)}}>
  {{#each @config.fields as |field|}}
    <div class="form__row">
      {{#let (get (or @changeset @model) field.key) as |value|}}
        {{#if (eq field.control "string")}}
          <Inputs::String
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @placeholder={{field.placeholder}}
            @redacted={{field.redacted}}
          />
        {{else if (eq field.control "string")}}
          <Inputs::Text
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @placeholder={{field.placeholder}}
          />
        {{else if (eq field.control "boolean")}}
          <Inputs::Boolean @label={{field.label}} @value={{value}} @changed={{fn (mut value)}} @hint={{field.hint}} />
        {{else if (eq field.control "number")}}
          <Inputs::Number
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @placeholder={{field.placeholder}}
            @min={{field.min}}
            @max={{field.max}}
            @step={{field.step}}
          />
        {{else if (eq field.control "date")}}
          <Inputs::Date
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @placeholder={{field.placeholder}}
          />
        {{else if (eq field.control "select")}}
          <Inputs::Select
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @options={{field.options}}
          />
        {{else if (eq field.control "reference")}}
          <Inputs::Reference
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @collection={{evaluate field.source (or @changeset @model)}}
            @multiple={{field.multiple}}
            @labelKey={{field.labelKey}}
            @emptyLabel={{field.emptyLabel}}
            @allowEmpty={{field.allowEmpty}}
          />
        {{else if (eq field.control "well")}}
          <Inputs::Well @label={{field.label}} @value={{value}} @hint={{field.hint}} />
        {{else}}
          <Inputs::Json
            @label={{field.label}}
            @value={{value}}
            @changed={{fn (mut value)}}
            @hint={{field.hint}}
            @placeholder={{field.placeholder}}
          />
        {{/if}}
      {{/let}}
    </div>
  {{/each}}

  <div class="form__row">
    <button type="submit" class="form__button" disabled={{or @model.isSaving (and (not this.dirty))}}>
      {{#if @model.isSaving}}
        Saving...
      {{else}}
        {{#if @model.isNew}}
          Create
        {{else}}
          Update
        {{/if}}
      {{/if}}
    </button>

    {{#unless @model.isNew}}
      <button
        type="button"
        class="form__button"
        disabled={{or (not this.dirty) @model.isSaving}}
        {{on "click" this.reset}}
      >
        Reset
      </button>
    {{/unless}}

    {{#if @onCancel}}
      <button type="button" class="form__button" disabled={{@model.isSaving}} {{on "click" this.cancel}}>
        Cancel
      </button>
    {{/if}}

    {{#if @onDelete}}
      <button
        class="form__button form__button--warning"
        type="button"
        disabled={{@model.isSaving}}
        {{on "click" @onDelete}}
      >
        Delete
      </button>
    {{/if}}
  </div>
</form>