{{#let (guid-for @config) as |id|}}
  <div class="form__row">
    <label class="form__row__label" for={{id}}>
      {{or @config.label "Unlabeled"}}

      {{#if @config.locked}}
        <Icons::Lock />
      {{/if}}

      {{#if (changeset-dirty @changeset @config.key)}}
        <Icons::Edit />
      {{/if}}
    </label>

    {{#if (eq @config.control "array")}}
      <FormArray
        @items={{changeset-array @changeset @config.key}}
        @factory={{this.createElement}}
        @itemName={{@config.itemName}}
        as |item|
      >
        {{#each @config.itemFields as |field|}}
          <FormField @form={{@form}} @config={{field}} @changeset={{item}} />
        {{/each}}
      </FormArray>
    {{else}}
      <Controls::Generic
        @type={{@config.control}}
        @id={{id}}
        @key={{@config.key}}
        @model={{@changeset}}
        @value={{changeset-get @changeset @config.key}}
        @changed={{changeset-set @changeset @config.key}}
        @disabled={{or (evaluate @config.disabled @changeset) (and @config.locked @form.locked)}}
        @placeholder={{@config.placeholder}}
        @redacted={{@config.redacted}}
        @min={{@config.min}}
        @max={{@config.max}}
        @step={{@config.step}}
        @options={{@config.options}}
        @collection={{evaluate @config.source @changeset}}
        @multiple={{@config.multiple}}
        @labelKey={{@config.labelKey}}
        @emptyLabel={{@config.emptyLabel}}
        @allowEmpty={{@config.allowEmpty}}
        @accept={{@config.acceptMedia}}
      />
    {{/if}}

    {{#if @config.hint}}
      <div class="form__row__hint">
        {{@config.hint}}
      </div>
    {{/if}}
  </div>
{{/let}}