<form class="form" {{on "submit" (prevent-default @onSubmit)}}>
  {{#each @config.fields as |field|}}
    <FormField @form={{this}} @config={{field}} @changeset={{@changeset}} @changed={{this.noop}} />
  {{/each}}

  <div class="toolbar">
    <div class="toolbar__group">
      <button type="submit" disabled={{or @model.isSaving (not this.dirty)}}>
        {{#if @model.isSaving}}
          Saving...
        {{else}}
          {{#if @model.isNew}}
            Create
          {{else}}
            Update
          {{/if}}
        {{/if}}
      </button>
    </div>

    {{#unless @model.isNew}}
      <div class="toolbar__group">
        <button type="button" disabled={{or (not this.dirty) @model.isSaving}} {{on "click" this.reset}}>
          Reset
        </button>
      </div>
    {{/unless}}

    {{#if @onCancel}}
      <div class="toolbar__group">
        <button type="button" disabled={{@model.isSaving}} {{on "click" this.cancel}}>
          Cancel
        </button>
      </div>
    {{/if}}

    {{#if @onDelete}}
      <div class="toolbar__group">
        <button type="button" disabled={{@model.isSaving}} {{on "click" @onDelete}}>
          Delete
        </button>
      </div>
    {{/if}}

    {{#if this.lockable}}
      <div class="toolbar__group">
        <button type="button" disabled={{not this.locked}} {{on "click" (fn (mut this.locked) false)}}>
          Unlock
        </button>
      </div>
    {{/if}}
  </div>
</form>