<form class="form" {{on "submit" (prevent-default @onSubmit)}}>
  {{#each @config.fields as |field|}}
    <FormField @form={{this}} @config={{field}} @changeset={{@changeset}} @changed={{noop}} />
  {{/each}}

  <div class="form__line">
  </div>

  <div class="form__row">
    <button type="submit" class="form__button" disabled={{or @model.isSaving (not this.dirty)}}>
      {{#if @model.isSaving}}
        Saving...
      {{else}}
        {{#if @model.isNew}}
          Create
        {{else}}
          Update
        {{/if}}
      {{/if}}
    </button>

    {{#unless @model.isNew}}
      <button
        type="button"
        class="form__button"
        disabled={{or (not this.dirty) @model.isSaving}}
        {{on "click" this.reset}}
      >
        Reset
      </button>
    {{/unless}}

    {{#if @onCancel}}
      <button type="button" class="form__button" disabled={{@model.isSaving}} {{on "click" this.cancel}}>
        Cancel
      </button>
    {{/if}}

    {{#if @onDelete}}
      <button
        class="form__button form__button--warning"
        type="button"
        disabled={{@model.isSaving}}
        {{on "click" @onDelete}}
      >
        Delete
      </button>
    {{/if}}

    {{#if this.lockable}}
      <button
        type="button"
        disabled={{not this.locked}}
        class="form__button"
        {{on "click" (fn (mut this.locked) false)}}
      >
        Unlock
      </button>
    {{/if}}
  </div>
</form>