<form class="form" {{on "submit" (prevent-default @submit)}}>
  {{#each @config.fields as |field|}}
    <div class="form__row">
      {{#let (get @model field.key) as |value|}}
        {{#if (eq field.control "string")}}
          <Inputs::String
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}
                  @placeholder={{field.placeholder}}
                  @redacted={{field.redacted}}/>
        {{else if (eq field.control "string")}}
          <Inputs::Text
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}
                  @placeholder={{field.placeholder}}/>
        {{else if (eq field.control "boolean")}}
          <Inputs::Boolean
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}/>
        {{else if (eq field.control "number")}}
          <Inputs::Number
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}
                  @placeholder={{field.placeholder}}
                  @min={{field.min}}
                  @max={{field.max}}/>
        {{else if (eq field.control "date")}}
          <Inputs::Date
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}
                  @placeholder={{field.placeholder}}/>
        {{else if (eq field.control "reference")}}
          <Inputs::Reference
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}
                  @collection={{evaluate field.source @model}}
                  @multiple={{field.multiple}}
                  @changed={{fn (mut value)}}/>
        {{else if (eq field.control "well")}}
          <Inputs::Well
                  @label={{field.label}}
                  @value={{value}}
                  @hint={{field.hint}}/>
        {{/if}}
      {{/let}}
    </div>
  {{/each}}

  <div class="form__row">
    <button class="form__button" type="submit">
      {{@button}}
    </button>

    {{#if @deleteButton}}
      <button class="form__button form__button--warning" type="button" {{on "click" @delete}}>
        {{@deleteButton}}
      </button>
    {{/if}}
  </div>

  {{#if @error}}
    <div class="form__error">
      {{@error}}
    </div>
  {{/if}}
</form>