{{#if (gt this.config.orders.length 0)}}
  <p class="sorting">
    Sorting:
    <select onchange={{action "setSort" value="target.value"}}>
      <option value="">Natural</option>
      {{#each this.config.orders as |order|}}
        <option selected={{eq order.name this.sort}} value={{order.name}}>{{order.title}} ↑</option>
        <option selected={{eq (concat "-" order.name) this.sort}} value="-{{order.name}}">{{order.title}} ↓</option>
      {{/each}}
    </select>
  </p>
{{/if}}

<table class="table">
  <thead>
    <th width="1">
      ID
    </th>

    {{#each this.config.columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </thead>

  <tbody>
    {{#each this.list as |model|}}
      <tr>
        <td>
          {{link-to model.id "table.edit" model.id}}
        </td>

        {{#each this.config.columns as |column|}}
          <td>
            {{#with (get model column.key) as |value|}}
              {{#if (eq column.format "literal")}}
                {{value}}
              {{else if (eq column.format "boolean")}}
                {{if value "True" "False"}}
              {{else if (eq column.format "absolute-date")}}
                {{#if value}}
                  {{moment-format value "YYYY-MM-DD HH:MM:SS"}}
                {{/if}}
              {{else if (eq column.format "relative-date")}}
                {{#if value}}
                  {{moment-from-now value}}
                {{/if}}
              {{else if (eq column.format "belongs-to")}}
                {{#if value}}
                  {{get value column.label}}
                {{/if}}
              {{else if (eq column.format "has-many")}}
                {{#each value as |model|}}
                  {{get model column.label}}
                {{/each}}
              {{else}}
                <pre>{{json-excerpt value}}</pre>
              {{/if}}
            {{/with}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>

<p class="pagination">
  <select onchange={{action "setPageSize" value="target.value"}}>
    {{#each (array 5 10 25 50 100) as |size|}}
      <option selected={{eq size this.pageSize}}>{{size}}</option>
    {{/each}}
  </select>

  {{#if (gt this.lastPage 1)}}
    Page {{page}} |
  {{/if}}

  {{#if (gt this.pageNumber 1)}}
    <a href="#" {{action 'setPageNumber' 1}}>First</a>
    <a href="#" {{action 'previousPage'}}>Previous</a>
  {{/if}}

  {{#if (lt this.pageNumber this.lastPage)}}
    <a href="#" {{action 'nextPage'}}>Next</a>
    <a href="#" {{action 'setPageNumber' this.lastPage}}>Last</a>
  {{/if}}
</p>