<div class="toolbar">
  <div class="toolbar__group">
    <div>
      Data
    </div>

    <button type="button" {{on "click" @refresh}}>
      Refresh
    </button>
  </div>

  {{#if (gt @config.orders.length 0)}}
    <div class="toolbar__group">
      <label>
        Sorting
      </label>

      <select {{on "change" (event-target-value this.changeSort)}}>
        <option value="">Natural</option>

        {{#each @config.orders as |order|}}
          <option selected={{eq order.name @sort}} value={{order.name}}>{{order.title}} ↑</option>
          <option selected={{eq (concat "-" order.name) @sort}} value="-{{order.name}}">{{order.title}} ↓</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#unless @config.immediate}}
    <div class="toolbar__group">
      <label>
        Count
      </label>

      <select {{on "change" (event-target-value this.changeCount)}}>
        {{#each (array 5 10 25 50 100) as |num|}}
          <option selected={{eq num @count}}>{{num}}</option>
        {{/each}}
      </select>
    </div>
  {{/unless}}

  {{#if (or this.currentPage this.nextCursor this.previousCursor)}}
    <div class="toolbar__group">
      <div>
        Page
      </div>

      {{#if (gt this.currentPage 1)}}
        <button type="button" {{on "click" (fn this.changePage 1 0)}}>
          First
        </button>

        <button type="button" {{on "click" (fn this.changePage this.currentPage -1)}}>
          Previous
        </button>
      {{/if}}

      {{#if this.currentPage}}
        <div>
          Page {{this.currentPage}}
        </div>
      {{/if}}

      {{#if (lt this.currentPage this.lastPage)}}
        <button type="button" {{on "click" (fn this.changePage this.currentPage 1)}}>
          Next
        </button>

        <button type="button" {{on "click" (fn this.changePage this.lastPage 0)}}>
          Last
        </button>
      {{/if}}

      {{#if (and this.firstCursor this.previousCursor)}}
        <button type="button" {{on "click" (fn this.changeCursor "after" this.firstCursor)}}>
          First
        </button>
      {{/if}}

      {{#if this.previousCursor}}
        <button type="button" {{on "click" (fn this.changeCursor "before" this.previousCursor)}}>
          Previous
        </button>
      {{/if}}

      {{#if this.nextCursor}}
        <button type="button" {{on "click" (fn this.changeCursor "after" this.nextCursor)}}>
          Next
        </button>
      {{/if}}

      {{#if (and this.lastCursor this.nextCursor)}}
        <button type="button" {{on "click" (fn this.changeCursor "before" this.lastCursor)}}>
          Last
        </button>
      {{/if}}
    </div>
  {{/if}}
</div>

{{#if (gt @config.filters.length 0)}}
  <div class="filters">
    {{#each @config.filters as |filter|}}
      {{#if (eq filter.condition "boolean")}}
        <div class="filters__group">
          <Inputs::Boolean
                  @label={{filter.title}}
                  @value={{get @filter filter.key}}
                  @changed={{fn this.setFilter filter.key}}/>

          {{#if (not-eq undefined (get @filter filter.key))}}
            <button type="button" {{on "click" (fn this.setFilter filter.key undefined)}}>
              Remove
            </button>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

<table class="table">
  <thead>
    <th width="1">
      ID
    </th>

    {{#each @config.columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </thead>

  <tbody>
    {{#each @list as |model|}}
      <tr>
        <td>
          <LinkTo @route="table.edit" @model={{model.id}}>
            {{model.id}}
          </LinkTo>
        </td>

        {{#each @config.columns as |column|}}
          <td>
            {{#let (get model column.key) as |value|}}
              {{#if (eq column.format "literal")}}
                {{value}}
              {{else if (eq column.format "boolean")}}
                {{if value "True" "False"}}
              {{else if (eq column.format "absolute-date")}}
                {{#if value}}
                  {{moment-format value "YYYY-MM-DD HH:mm:ss"}}
                {{/if}}
              {{else if (eq column.format "relative-date")}}
                {{#if value}}
                  {{moment-from-now value}}
                {{/if}}
              {{else if (eq column.format "progress")}}
                <progress value={{value}} max="1"/>
              {{else if (eq column.format "belongs-to")}}
                {{#if value}}
                  {{get value column.label}}
                {{/if}}
              {{else if (eq column.format "has-many")}}
                {{#each value as |model|}}
                  {{get model column.label}}
                {{/each}}
              {{else}}
                <pre {{on "click" (fn this.expand value)}}>{{json-excerpt value}}</pre>
              {{/if}}
            {{/let}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>