<table class="table">
  <thead>
    <th width="1">
      ID
    </th>

    {{#each config.columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </thead>

  <tbody>
    {{#each list as |model|}}
      <tr>
        <td>
          {{link-to model.id "table.edit" model.id}}
        </td>

        {{#each config.columns as |column|}}
          <td>
            {{#with (get model column.key) as |value|}}
              {{#if (eq column.format "literal")}}
                {{value}}
              {{else if (eq column.format "boolean")}}
                {{if value "True" "False"}}
              {{else if (eq column.format "absolute-date")}}
                {{#if value}}
                  {{moment-format value "YYYY-MM-DD HH:MM:SS"}}
                {{/if}}
              {{else if (eq column.format "relative-date")}}
                {{#if value}}
                  {{moment-from-now value}}
                {{/if}}
              {{else if (eq column.format "belongs-to")}}
                {{#if value}}
                  {{get value column.label}}
                {{/if}}
              {{else if (eq column.format "has-many")}}
                {{#each value as |model|}}
                  {{get model column.label}}
                {{/each}}
              {{else}}
                <pre>{{as-json value}}</pre>
              {{/if}}
            {{/with}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>