{{#if (gt @config.orders.length 0)}}
  <p class="sorting">
    <label>Sorting:</label>
    <select {{on "change" (event-target-value this.changeSort)}}>
      <option value="">Natural</option>
      {{#each @config.orders as |order|}}
        <option selected={{eq order.name @sort}} value={{order.name}}>{{order.title}} ↑</option>
        <option selected={{eq (concat "-" order.name) @sort}} value="-{{order.name}}">{{order.title}} ↓</option>
      {{/each}}
    </select>
  </p>
{{/if}}

<p class="filters">
  {{#each @config.filters as |filter|}}
    {{#if (eq filter.condition "boolean")}}
      <Inputs::Boolean
              @label={{filter.title}}
              @value={{get @filter filter.key}}
              @changed={{fn this.setFilter filter.key}}/>

      <button type="button" {{on "click" (fn this.setFilter filter.key undefined)}}>
        Remove
      </button>
    {{/if}}
  {{/each}}
</p>

<table class="table">
  <thead>
    <th width="1">
      ID
    </th>

    {{#each @config.columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </thead>

  <tbody>
    {{#each @list as |model|}}
      <tr>
        <td>
          <LinkTo @route="table.edit" @model={{model.id}}>
            {{model.id}}
          </LinkTo>
        </td>

        {{#each @config.columns as |column|}}
          <td>
            {{#let (get model column.key) as |value|}}
              {{#if (eq column.format "literal")}}
                {{value}}
              {{else if (eq column.format "boolean")}}
                {{if value "True" "False"}}
              {{else if (eq column.format "absolute-date")}}
                {{#if value}}
                  {{moment-format value "YYYY-MM-DD HH:mm:ss"}}
                {{/if}}
              {{else if (eq column.format "relative-date")}}
                {{#if value}}
                  {{moment-from-now value}}
                {{/if}}
              {{else if (eq column.format "belongs-to")}}
                {{#if value}}
                  {{get value column.label}}
                {{/if}}
              {{else if (eq column.format "has-many")}}
                {{#each value as |model|}}
                  {{get model column.label}}
                {{/each}}
              {{else}}
                <pre {{on "click" (fn this.expand value)}}>{{json-excerpt value}}</pre>
              {{/if}}
            {{/let}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>

<p class="pagination">
  <label>Count:</label>
  <select {{on "change" (event-target-value this.changeCount)}}>
    {{#each (array 5 10 25 50 100) as |num|}}
      <option selected={{eq num @count}}>{{num}}</option>
    {{/each}}
  </select>

  {{#if (gt this.lastPage 1)}}
    Page: {{@page}}
  {{/if}}

  {{#if (gt @page 1)}}
    <button type="button" {{on "click" (fn this.changePage 1 0)}}>
      First
    </button>

    <button type="button" {{on "click" (fn this.changePage @page -1)}}>
      Previous
    </button>
  {{/if}}

  {{#if (lt @page this.lastPage)}}
    <button type="button" {{on "click" (fn this.changePage @page 1)}}>
      Next
    </button>

    <button type="button" {{on "click" (fn this.changePage this.lastPage 0)}}>
      Last
    </button>
  {{/if}}
</p>