<table class="table">
  <thead>
    <th width="1">
      ID
    </th>

    {{#each config.columns as |column|}}
      <th>{{column.title}}</th>
    {{/each}}
  </thead>

  <tbody>
    {{#each model as |item|}}
      <tr>
        <td>
          {{link-to item.id "table.edit" item.id}}
        </td>

        {{#each config.columns as |column|}}
          <td>
            {{#if (eq column.format "literal")}}
              {{get item column.key}}
            {{else if (eq column.format "boolean")}}
              {{if (get item column.key) "True" "False"}}
            {{else if (eq column.format "absolute-date")}}
              {{#if (get item column.key)}}
                {{moment-format (get item column.key) "YYYY-MM-DD HH:MM:SS"}}
              {{/if}}
            {{else if (eq column.format "relative-date")}}
              {{#if (get item column.key)}}
                {{moment-from-now (get item column.key)}}
              {{/if}}
            {{else}}
              <pre>{{as-json (get item column.key)}}</pre>
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>