<div class="input__file">
  {{#each this.values as |file|}}
    <div class="input__file__list">
      <button
        type="button"
        class="input__button"
        {{on "click" (fn this.preview file)}}
      >
        {{file.name}}
        ({{file.type}},
        {{file.size}}
        bytes)
      </button>

      {{#unless @disabled}}
        <button
          type="button"
          class="input__button"
          {{on "click" (fn this.remove file)}}
        >
          Remove
        </button>
      {{/unless}}
    </div>
  {{/each}}

  {{#if (and (not @disabled) (or @multiple (not @value)))}}
    {{#let (file-queue name=(guid-for this) onFileAdded=this.add) as |queue|}}
      <input
        type="file"
        id={{@id}}
        class="input__button"
        accept={{@accept}}
        multiple={{@multiple}}
        {{queue.selectFile}}
      />
    {{/let}}
  {{/if}}
</div>