<select
  class={{unless @raw "input__select"}}
  id={{@id}}
  disabled={{@disabled}}
  {{on "change" this.changed}}
>
  {{#each @options as |opt|}}
    <option value={{opt.value}} selected={{eq @value opt.value}}>
      {{opt.label}}
    </option>
  {{/each}}
</select>