<div class="dialog">
  <h1 class="dialog__title">
    {{this.blueprint.title}}
  </h1>

  <form class="" {{on "submit" this.authenticate}}>
    <div class="dialog__row">
      <Controls::String
        @label="Email"
        @value={{this.email}}
        @changed={{fn (mut this.email)}}
        @placeholder="user@example.org"
      />
    </div>

    <div class="dialog__row">
      <Controls::String
        @label="Password"
        @value={{this.password}}
        @changed={{fn (mut this.password)}}
        @redacted={{true}}
        @placeholder="****"
      />
    </div>

    <div class="dialog__button">
      <button type="submit">
        Sign In
      </button>
    </div>
  </form>
</div>