<div class="dialog">
  <h1>{{blueprint.title}}</h1>

  <form class="form" {{action "signIn" on="submit"}}>
    {{inputs/string
      label="Email"
      value=email
      placeholder="me@example.com"}}

    {{inputs/string
      label="Password"
      value=password
      redacted=true
      placeholder="****"}}

    <div class="form__row">
      <button type="submit" class="form__button">
        Sign In
      </button>
    </div>

    {{#if error}}
      <div class="form__error">
        {{error}}
      </div>
    {{/if}}
  </form>
</div>