<div class="dialog">
  <h1>
    {{this.blueprint.title}}
  </h1>

  <form class="form" {{on "submit" (prevent-default this.signIn)}}>
    <div class="form__row">
      <Inputs::String
        @label="Email"
        @value={{this.email}}
        @changed={{fn (mut this.email)}}
        @placeholder="user@example.org"
      />
    </div>

    <div class="form__row">
      <Inputs::String
        @label="Password"
        @value={{this.password}}
        @changed={{fn (mut this.password)}}
        @redacted={{true}}
        @placeholder="****"
      />
    </div>

    <div class="form__row">
      <button class="form__button" type="submit">
        Sign In
      </button>
    </div>

    {{#if this.error}}
      <div class="form__error">
        {{this.error}}
      </div>
    {{/if}}
  </form>
</div>