<div class="modal">
  <h2 class="modal__title">
    Preview
  </h2>

  <div class="modal__preview">
    {{#if (starts-with @data.file.type "image/")}}
      <img src={{@data.file.url}} alt="" />
    {{else if (starts-with @data.file.type "audio/")}}
      <audio src={{@data.file.url}} controls></audio>
    {{else if (starts-with @data.file.type "video/")}}
      <video src={{@data.file.url}} controls></video>
    {{else if (eq @data.file.type "application/pdf")}}
      <iframe title="Preview" src={{@data.file.url}}></iframe>
    {{/if}}
  </div>

  <div class="toolbar">
    <div class="toolbar__group">
      <button type="button" {{on "click" @complete}}>
        Close
      </button>
    </div>
  </div>
</div>