{{#if @label}}
  <label class="input__label" for={{guid-for this}}>
    {{@label}}
  </label>
{{/if}}

<Input id={{guid-for this}}
       @type="checkbox"
       @checked={{@value}}
       @disabled={{@disabled}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}