{{#if this.label}}
  <label class="input__label">
    {{this.label}}
  </label>
{{/if}}

<EmberFlatpickr class="input__date"
                placeholder={{placeholder}}
                @date={{or value now}}
                @onChange={{fn (mut value)}}
                @enableTime={{true}}
                @time_24hr={{true}}
                @allowInput={{not disabled}}/>

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}