<div class="form__row">
  <label class="form__head">
    {{this.label}}
  </label>

  <EmberFlatpickr class="form__date"
                  placeholder={{placeholder}}
                  @date={{or value now}}
                  @onChange={{fn (mut value)}}
                  @enableTime={{true}}
                  @time_24hr={{true}}
                  @allowInput={{not disabled}}/>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>