<form class="form" {{action "submit" on="submit"}}>
  {{yield}}

  <div class="form__row">
    <button class="form__button" {{action "submit"}}>{{button}}</button>

    {{#if deleteButton}}
      <button class="form__button" {{action "delete"}}>{{deleteButton}}</button>
    {{/if}}
  </div>

  {{#if error}}
    <div class="form__error">{{error}}</div>
  {{/if}}
</form>