<div class="form__row">
  <div class="form__group">
    <div class="form__group__bar">
      <div class="form__group__bar__label">
        {{this.label}}
      </div>

      {{#each this.models as |model|}}
        <div class="form__group__bar__button" {{action "select" model}} role="button">
          {{get model this.titleAttr}}
        </div>
      {{/each}}

      <div class="form__group__bar__button" {{action "add"}} role="button">
        Add
      </div>

      {{#if this.selected}}
        <div class="form__group__bar__button" {{action "remove" this.selected}} role="button">
          Remove
        </div>
      {{/if}}
    </div>

    {{#if this.selected}}
      <div class="form__group__content">
        {{yield this.selected}}
      </div>
    {{/if}}
  </div>
</div>