<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">
      {{this.label}}
    </label>

    <div class="form__head__button" {{action "add"}} role="button">
      {{this.add}}
    </div>
  </div>

  <div class="form__multi">
    {{#each this.list as |var index|}}
      <div class="form__multi__line">
        {{input class="form__multi__line__value" input=(action "save") value=var.value placeholder=this.valuePlaceholder}}

        <div class="form__multi__line__button" {{action "remove" index}} role="button">
          ✖
        </div>
      </div>
    {{else}}
      <div class="form__multi__line__empty">
        {{this.empty}}
      </div>
    {{/each}}
  </div>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>