{{#if this.label}}
  <label class="input__label">
    {{this.label}}
  </label>
{{/if}}

<Input class="input__number"
       @type="number"
       @value={{this.value}}
       @disabled={{this.disabled}}
       @placeholder={{this.placeholder}}
       @min={{this.min}}
       @max={{this.max}}/>

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}