<div class="form__row">
  <label class="form__head">
    {{this.label}}
  </label>

  <Input class="form__number"
         @type="number"
         @value={{this.value}}
         @disabled={{this.disabled}}
         @placeholder={{this.placeholder}}
         @min={{this.min}}
         @max={{this.max}}/>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>