<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">
      {{this.label}}
    </label>
  </div>

  <Input class="form__number"
         @type="number"
         @value={{this.value}}
         @disabled={{this.disabled}}
         @placeholder={{this.placeholder}}
         @min={{this.min}}
         @max={{this.max}}/>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>