{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<Input class="input__number"
       @type="number"
       @value={{@value}}
       @disabled={{@disabled}}
       @placeholder={{@placeholder}}
       @min={{@min}}
       @max={{@max}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}