{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

{{#if @multiple}}
  <PowerSelectMultiple
    @selected={{this.selected}}
    @options={{this.options}}
    @disabled={{@disabled}}
    @onChange={{this.select}}
    @searchEnabled={{false}}
    @verticalPosition="below"
  as |item|>
    {{get item this.labelField}}
  </PowerSelectMultiple>
{{else}}
  <PowerSelect
    @selected={{this.selected}}
    @options={{this.options}}
    @disabled={{@disabled}}
    @onChange={{this.select}}
    @searchEnabled={{false}}
    @verticalPosition="below"
  as |item|>
    {{get item this.labelField}}
  </PowerSelect>
{{/if}}

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}