{{#if this.label}}
  <label class="input__label">
    {{this.label}}
  </label>
{{/if}}

{{#if this.multiple}}
  {{#power-select-multiple
    selected=this.selected
    options=this.options
    disabled=this.disabled
    onchange=(action "select")
    searchEnabled=false
    verticalPosition="below"
  as |item| }}
    {{get item this.labelField}}
  {{/power-select-multiple}}
{{else}}
  {{#power-select
    selected=this.selected
    options=this.options
    disabled=this.disabled
    onchange=(action "select")
    searchEnabled=false
    verticalPosition="below"
  as |item| }}
    {{get item this.labelField}}
  {{/power-select}}
{{/if}}

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}