{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<select class="input__select" disabled={{@disabled}} {{on "change" (event-target-value this.changed)}}>
  {{#each @options as |opt|}}
    <option value={{opt.value}} selected={{eq @value opt.value}}>
      {{opt.label}}
    </option>
  {{/each}}
</select>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}