{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<Input class="input__string"
       @type={{if @redacted "password" "text"}}
       @value={{@value}}
       @disabled={{@disabled}}
       @placeholder={{@placeholder}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}