{{#if @label}}
  <label class="input__label" for={{guid-for this}}>
    {{@label}}
  </label>
{{/if}}

<input id={{guid-for this}}
       class="input__string"
       type={{if @redacted "password" "text"}}
       value={{@value}}
       disabled={{@disabled}}
       placeholder={{@placeholder}}
       {{on "change" this.changed}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}