<label class="input__label">
  {{this.label}}
</label>

<Input class="input__string"
       @type={{if this.redacted "password" "text"}}
       @value={{this.value}}
       @disabled={{this.disabled}}
       @placeholder={{this.placeholder}}/>

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}