<div class="form__row">
  <div class="form__head">
    <label class="form__head__label">{{label}}</label>
    <div class="form__head__button" {{action "add"}} role="button">{{add}}</div>
  </div>

  <table class="form__table">
    <thead>
      <tr class="form__table__row">
        {{#each columns as |column|}}
          <th class="form__table__head">
            {{column.name}}
          </th>
        {{/each}}

        <th class="form__table__head" width="1"></th>
      </tr>
    </thead>

    <tbody>
      {{#each value as |var index|}}
        <tr class="form__table__row">
          {{#each columns as |column|}}
            <td class="form__table__cell">
              {{input class="form__table__input" value=(get var column.field) placeholder=column.placeholder}}
            </td>
          {{/each}}

          <td class="form__table__cell" width="1">
            <button class="form__table__button" {{action "remove" index}}>
              ✖
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if hint}}
    <div class="form__hint">
      {{hint}}
    </div>
  {{/if}}
</div>