{{#if @label}}
  <label class="input__label" for={{guid-for this}}>
    {{@label}}
  </label>
{{/if}}

<Textarea id={{guid-for this}}
          class="input__text"
          @value={{@value}}
          @disabled={{@disabled}}
          @placeholder={{@placeholder}}
          @autoresize={{true}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}