<label class="input__label">
  {{this.label}}
</label>

<Textarea class="input__text"
          @value={{this.value}}
          @disabled={{this.disabled}}
          @placeholder={{this.placeholder}}
          @autoresize={{true}}/>

{{#if this.hint}}
  <div class="input__hint">
    {{this.hint}}
  </div>
{{/if}}