{{#if @label}}
  <label class="input__label">
    {{@label}}
  </label>
{{/if}}

<Textarea class="input__text"
          @value={{@value}}
          @disabled={{@disabled}}
          @placeholder={{@placeholder}}
          @autoresize={{true}}/>

{{#if @hint}}
  <div class="input__hint">
    {{@hint}}
  </div>
{{/if}}