<div class="form__row">
  <label class="form__head">
    {{this.label}}
  </label>

  <Textarea class="form__text"
            @value={{this.value}}
            @disabled={{this.disabled}}
            @placeholder={{this.placeholder}}
            @autoresize={{true}}/>

  {{#if this.hint}}
    <div class="form__hint">
      {{this.hint}}
    </div>
  {{/if}}
</div>