{{#each this.values as |file|}}
  <div class="input__file">
    <p>
      <button type="button" {{on "click" (fn this.preview file)}}>
        {{file.name}}
        ({{file.type}},
        {{file.size}}
        bytes)
      </button>

      {{#unless @disabled}}
        {{#if @multiple}}
          <button type="button" {{on "click" (fn this.files.remove @model @key file)}}>
            Remove
          </button>
        {{else}}
          <button type="button" {{on "click" (fn this.files.unset @model @key)}}>
            Remove
          </button>
        {{/if}}
      {{/unless}}
    </p>
  </div>
{{/each}}

{{#if (and (not @disabled) (or @multiple (not @value)))}}
  <FileUpload
    class="input__file__button"
    @name={{@id}}
    @accept={{@accept}}
    @onfileadd={{fn this.files.upload @model @key @multiple}}
  >
    Upload
  </FileUpload>
{{/if}}