<div class="input__list">
  {{#each this.values as |value index|}}
    <div class="input__list__item">
      <Controls::String
        @id={{@id}}
        @value={{value}}
        @changed={{fn this.changed index}}
        @disabled={{@disabled}}
        @placeholder={{@placeholder}}
      />

      {{#unless @disabled}}
        <button type="button" class="input__button" {{on "click" (fn this.remove index)}}>
          Remove
        </button>
      {{/unless}}
    </div>
  {{/each}}

  {{#unless @disabled}}
    <div class="input__list__button">
      <button type="button" class="input__button" {{on "click" this.add}}>
        Add
      </button>
    </div>
  {{/unless}}
</div>