{{page-title this.blueprint.title}}

{{#if this.session.isAuthenticated}}
  <div class="app">
    <div class="nav">
      <nav class="nav__wrapper">
        <div class="nav__title">
          <LinkTo @route="index">
            {{this.blueprint.title}}
          </LinkTo>
        </div>

        {{#each this.blueprint.menus as |menu|}}
          <div class="nav__menu">
            <div class="nav__menu__head">
              {{menu.title}}
            </div>

            {{#each menu.items as |item|}}
              <LinkTo class="nav__menu__item" @route="table" @model={{item.model}}>
                {{item.title}}
              </LinkTo>
            {{/each}}
          </div>
        {{/each}}

        <div class="nav__menu">
          <div class="nav__menu__head">
            {{get this.user.model (or this.blueprint.backend.usernameKey "name")}}
          </div>

          <button class="nav__menu__item" type="button" {{on "click" this.logout}}>
            Sign Out
          </button>
        </div>
      </nav>
    </div>

    <div class="content">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="content">
    {{outlet}}
  </div>
{{/if}}

{{#each this.modal.modals as |m|}}
  <div
    class="modal-wrapper"
    aria-modal="true"
    role="dialog"
    tabindex="-1"
    {{focus-trap
      isActive=(eq modal.modals.lastObject m)
      shouldSelfFocus=true
      focusTrapOptions=(hash escapeDeactivates=false)
    }}
  >
    {{component
      m.component
      data=m.data
      complete=(action "complete" target=modal)
      dismiss=(action "dismiss" target=modal)
    }}
  </div>
{{/each}}