{{page-title this.blueprint.title}}

{{#if this.session.isAuthenticated}}
  <div class="app">
    <div class="nav">
      <nav class="nav__wrapper">
        <div class="nav__title">
          <LinkTo @route="index">
            {{this.blueprint.title}}
          </LinkTo>
        </div>

        {{#each this.blueprint.menus as |menu|}}
          <ul class="nav__menu">
            <li class="nav__menu__head">
              {{menu.title}}
            </li>

            {{#each menu.items as |item|}}
              <li class="nav__menu__item">
                <LinkTo @route="table" @model={{item.model}}>
                  {{item.title}}
                </LinkTo>
              </li>
            {{/each}}
          </ul>
        {{/each}}

        <ul class="nav__menu">
          <li class="nav__menu__head">
            {{get this.user.model (or this.blueprint.backend.usernameKey "name")}}
          </li>

          <li class="nav__menu__item">
            <button type="button" {{on "click" this.logout}}>
              Sign Out
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="content">
    {{outlet}}
  </div>
{{/if}}

{{#each this.modal.modals as |m|}}
  <div
    class="modal-wrapper"
    aria-modal="true"
    role="dialog"
    tabindex="-1"
    {{focus-trap
      isActive=(eq modal.modals.lastObject m)
      shouldSelfFocus=true
      focusTrapOptions=(hash escapeDeactivates=false)
    }}
  >
    {{component
      m.component
      data=m.data
      complete=(action "complete" target=modal)
      dismiss=(action "dismiss" target=modal)
    }}
  </div>
{{/each}}