{{#if this.session.isAuthenticated}}
  <div class="nav">
    <nav class="nav__wrapper">
      <ul class="nav__list">
        <li class="nav__list__title">
          <LinkTo @route="index">
            {{this.blueprint.title}}
          </LinkTo>
        </li>

        {{#each this.blueprint.models as |model|}}
          <li class="nav__list__item">
            <LinkTo @route="table" @model={{model.name}}>
              {{model.title}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>

      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="#" {{action "logout"}}>
            Log Out
          </a>
        </li>
      </ul>
    </nav>
  </div>
{{/if}}

<div class="content">
  {{outlet}}
</div>